##GitHub stuff
README.html
NEWS.html


##R stuff
.Rproj.user
.Rhistory
.RData
.Ruserdata
RCarb.Rproj

##package related local stuff
cran-comments.html
vignettes/*_cache/
vignettes/*_files/

##Internal helpers
helpers/*

